.food-row{
    background-color: rgb(169, 194, 192);
    padding:20px 0px 20px 0px;
    margin: 15px;
    border: 2px solid rgb(0, 0, 0);
}

.bird-food-image{
    border: 6px double rgb(0, 0, 0);
    vertical-align: center;
}

.food-info{
    font-size: 15px;
}