*{
    font-family:'Roboto Serif', serif;
    font-size: 17px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    background-color: rgb(57, 136, 145);
}

footer{
    padding-top: 10px;
}

.nav-link{
    color: rgb(227, 229, 180);
}

.navbar{
    border-bottom: 5px double orange;
}

.green-bg{
    background-color: rgb(20, 88, 95);
}

.navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: 500;
    color: rgb(209, 139, 8);
}

.footer-link{
    text-decoration: none;
    font-weight: bold;
}








