.hero-img {
    border-bottom: 5px double orange;
}

.parrot-tricks{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.tricks-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 500px) {
    .tricks-content{
        display: grid;
        grid-template-columns: 1fr;
    }
}

div[class*="trick-"]{
    background-color: rgb(213, 167, 81);
    border: 2px solid rgb(22, 53, 121);
    margin: 10px 5px 10px 5px;
    height:fit-content;
}

.tricks-detail-title{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.tricks-details{
    font-size: 15px;
    border: 2px solid rgb(22, 53, 121) ;
    margin: 3px;
    padding: 10px;
    line-height: 25px;
}

footer{
    background-color: rgb(57, 136, 145);
}